<div class="container-fluid m-1 bg-light">
    <h1 class="fw-bold py-5">Job List</h1>
    <div class="row justify-content-center">
        <div class="col-md-11  searchbar border border-2  m-3 p-2 rounded-5 bg-white">
            <div class=" row input-group ">
                <!-- Search input -->
                <div class="col-md-9">
                    <input type="text" [(ngModel)]="searchTerm" class="form-control border-0" (input)="filterJobs()"
                        placeholder="Search by Title,Company or any jobs keyword" aria-label="Search">
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2 py-1 small">Suggestions</div>
        
        <div class="col-md-2 text-center my-auto small rounded-pill Suggestions" (click)="filterJobsByName('Programmer')">
            Programmer</div>
        <div class="col-md-2 text-center my-auto small rounded-pill Suggestions" (click)="filterJobsByName('Software Engineer')">
            Software Engineer</div>
        <div class="col-md-2 text-center my-auto small rounded-pill Suggestions" (click)="filterJobsByName('Developer')">
            Developer</div>
        <div class="col-md-2 text-center my-auto small rounded-pill Suggestions" (click)="filterJobsByName('Accountant')">
           Accounting</div>
    </div>
    <div class="row my-5 p-4">
        <div class="col-md-3 ">
            <p class="lh-1"><span class="fw-bold">Showing <span>{{jobs.length}}</span> Jobs Results</span><br>
                <small class=" text-secondary">Based your preferences</small>
            </p>
        </div>
    </div>
    <div class="row  d-flex flex-row p-4">
        <div class="col-md-4 " *ngFor="let job of filteredJobs">
            <div class="card  border border-2 rounded bg-white p-2">
                <div class="row">
                    <div class="col-md-9">
                        <small class="companyName  fw-bold text-center">Job Title : {{job.jobTitle}}</small><br>
                        <small class="jobName h6 fw-bold text-center">Job Summary : {{job.jobSummary}}</small><br>
                        <small class="fw-bold">Job Category Name : {{job.jobCategoryName}}</small><br>
                        <span class="salary text-primary">Location : {{job.locationName}}</span>
                    </div>
                    <!-- <div class="col-md-3">
                        <img [src]="job.companyLogo" class="card-img-top" alt="logo">
                    </div> -->
                </div>
                <div class="card-body">
                    <small class="fw-bold">Industry : {{job.industryName}}</small><br>
                    <span class="small fw-bold">Posted Date : {{job.postedDate}}</span><br>
                    <span class="postedByNavigationFirstName ">postedByNavigationFirstName :
                        {{job.postedByNavigationFirstName}}</span><br>
                    <span class="small fw-bold">Saved : {{job.saved}}</span>
                    <div class="d-flex  justify-content-between">
                        <span class="removeButton p-1 text-primary rounded-pill">Remove<i
                                class="bi bi-trash3 text-primary p-2"></i></span>

                    </div>
                </div>
            </div>
        </div>
        <ng-template #noDataMessage>
            <p>No jobs available.</p>
        </ng-template>
    </div>