<div class="container-fluid">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <!-- <span class="icon">
                       <img src="../../../../assets/images/sidebar/Group 8.png">
                    </span> -->
                    <span class="title"><h2 class="text-center mt-4">Hire Horizon</h2></span>
                </a>
            </li>
    
            <li>
                <a (click)="navigateToDashboard()">
                    <span class="icon">
                        <img src="../../../../assets/images/sidebar/Vector.png" >
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
    
            <li>
                <a (click)="navigateToJobProviders()">
                    <span class="icon">
                        <img src="../../../../assets/images/sidebar/image 10.png">
                    </span>
                    <span class="title">Job Providers</span>
                </a>
            </li>
    
            
            <li>
                <a (click)="navigateToJobSeekers()">
                    <span class="icon">
                        <img src="../../../../assets/images/sidebar/image 4.png">
                    </span>
                    <span class="title">Job Seekers</span>
                </a>
            </li>
    
            <li>
                <a (click)="navigateToJobs() ">
                    <span class="icon">
                        <img src="../../../../assets/images/sidebar/ic_search.png">
                    </span>
                    <span class="title">Jobs</span>
                </a>
            </li>
    
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../../../assets/images/sidebar/frame.png">
                    </span>
                    <span class="title">My Profile</span>
                </a>
            </li>
    
            <li>
                <a (click)="navigateToMessages()">
                    <span class="icon">
                        <li><img src="../../../../assets/images/sidebar/Vector (1).png">
                    </span>
                    <span class="title">Messages</span>
                </a>
            </li>
            <li>
                <a  (click)=" navigateToSkills()">
                    <span class="icon">
                        <img src="../../../../assets/images/skills/pencil_4365964.png" width="25" height="25">
                    </span>
                    <span class="title">Skills</span>
                </a>
            </li>
            <!-- <li>
                <a  (click)=" navigateToSettings()">
                    <span class="icon">
                        <img src="../../../../assets/images/sidebar/image 7.png">
                    </span>
                    <span class="title">Settings</span>
                </a>
            </li> -->
            <li>
                <a href="#" (click) = "logout()">
                    <span class="icon">
                        <img src="../../../../assets/images/sidebar/image 5.png">
                    </span>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>